<div class="border-end border-warning h-100">
    <div class="text-center">
        <img src="/images/hgimg.jpg" alt="" class="img-fluid rounded-circle mt-5">
        <h3 class="text-white mt-3 st-font">Himanshu Gupta</h3>
    </div>
        <nav class="nav flex-column text-center mt"  >
            <a href="/" class="nav-link <% if(page_name == 'Home'){%> active <% } %>"> Home</a>
            <a href="/service" class="nav-link  <% if(page_name == 'services'){%> active <% } %>">  services</a>
            <a href="/skill" class="nav-link  <% if(page_name == 'skill'){%> active <% } %>"> Skill</a>
            <a href="/contect" class="nav-link  <% if(page_name == 'contact'){%> active <% } %>">Contact</a>

        </nav>
</div>