


<%- include('./partials/heder.ejs')  %>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs',{page_name:'Home'})  %>

        </div>
        <div class="col-sm-10">
        <div class="mt-5">
            <div class="text-center">
                <img src="/images/hgimg.jpg" alt="" class="img-thumbnail " width="250px" height="150px">

            </div>
              <div class="mt-5 text-white mx-5 text-justify">
                <h1 class="fw-bold st-font"> Hello</h1>
                <div class="px-4" style="line-height: 2rem">
                    <p style="text-indent: 100px;">I am <b class="text-warning">Himanshu Gupta</b>  from Khajuraho, Chhatarpur district, Madhya Pradesh. I'm thrilled to share that I have 1 year of experience in web development, specifically in React.js. 
                        I completed my B.Tech from Oriental Institute of Science & Technology in Bhopal, and I also have completed 10th and 12th grades from Madhyamik Shiksha Mandal, Bhopal.
                        
                        I have a solid skill set that encompasses C, Core Java, Advanced Java, HTML, CSS, JavaScript, and React.js
                        
                       ,Node.js,express.js,bootstrap In my free time, I enjoy my hobbies, which include listening to songs, watching movies, and playing games.</p>
                         <p>i developed the some project Employee management system with java,  Todo List with React js,  crud Opration with react redux,
                               Escrep wep designing with React js, ekabaad web designing with react js
                         </p>
                </div>

              </div>
              <div class="text-center">
                <a href="/contect" class="btn btn-outline-warning mx-5 my-3">Hire ME </a>
                <a href="/contect" class="btn btn-outline-info">Contact ME </a>

              </div>
        </div>
        </div>

    </div>

</div>

    <!-- <h1>Himanshu gupta index or home page</h1> -->
    <%- include('./partials/footer.ejs')  %>
   
   